# CMSC320: Checkpoint 2
Tyshon Brown, David Li, Zile Liu, and Samuel Opoku-Agyemang

## Data Pre-Processing

### Imports

In [2]:
import pandas as pd
import numpy as np

import json

from census import Census
from us import states

from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

# sam's API key: 23c580dcbb047d99e93502f60681fc6430f2fc9a
c = Census("23c580dcbb047d99e93502f60681fc6430f2fc9a", year = 2020)

### Population

In [41]:
population_data = c.acs5.state(('NAME', 'B01003_001E'), Census.ALL)
population = pd.DataFrame(population_data)
population.rename(columns={'NAME': 'State', 'B01003_001E': 'Population'}, inplace=True)
population['Population'] = population['Population'].astype(int)

population.head()

           State  Population state
0   Pennsylvania    12794885    42
1     California    39346023    06
2  West Virginia     1807426    54
3           Utah     3151239    49
4       New York    19514849    36

### Population Density

In [3]:
# https://www.census.gov/data/tables/time-series/dec/density-data-text.html
# renamed from "apportionment.csv"
pop_density = pd.read_csv("population_density.csv")
pop_density = pop_density[['Name', 'Geography Type', 'Year', 'Resident Population Density']]
pop_density = pop_density[(pop_density['Year'] == 2020) & (pop_density['Geography Type'] == "State")]
pop_density = pop_density[['Name', 'Resident Population Density']].reset_index(drop = True)

# 52 datapoints because DC and Puerto Rico count as states
pop_density.head()

         Name Resident Population Density
0     Alabama                        99.2
1      Alaska                         1.3
2     Arizona                        62.9
3    Arkansas                        57.9
4  California                       253.7

### Median Age

In [4]:
median_age_dictionary = c.acs5.state(('NAME', 'B01002_001E'), Census.ALL)
median_age = pd.DataFrame.from_dict(median_age_dictionary).rename(columns = {'NAME' : 'Name', 'B01002_001E' : 'Median Age'})
median_age = median_age[['Name', 'Median Age']].sort_values(by = ['Name']).reset_index(drop = True)
median_age.head()

         Name  Median Age
0     Alabama        39.2
1      Alaska        34.6
2     Arizona        37.9
3    Arkansas        38.3
4  California        36.7

### Median Income

In [5]:
median_income_dictionary = c.acs5.state(('NAME', 'B19013_001E'), Census.ALL)
median_income = pd.DataFrame.from_dict(median_income_dictionary).rename(columns = {'NAME' : 'Name', 'B19013_001E' : 'Median Household Income'})
median_income = median_income[['Name', 'Median Household Income']].sort_values(by = ['Name']).reset_index(drop = True)
median_income.head()

         Name  Median Household Income
0     Alabama                  52035.0
1      Alaska                  77790.0
2     Arizona                  61529.0
3    Arkansas                  49475.0
4  California                  78672.0

### Popular Vote

In [ ]:
# https://www.fec.gov/introduction-campaign-finance/election-results-and-voting-information/federal-elections-2020/
popular_vote = pd.read_csv("federalelections2020.csv")
popular_vote.head()

                    Name  Biden Votes  Trump Votes  Total Votes
0                Alabama       849624      1441170      2323282
1                 Alaska       153778       189951       359530
2                Arizona      1672143      1661686      3387326
3               Arkansas       423932       760647      1219069
4             California     11110639      6006518     17501380
5               Colorado      1804352      1364607      3256980
6            Connecticut      1080831       714717      1823857
7               Delaware       296268       200603       504346
8   District of Columbia       317323        18586       344356
9                Florida      5297045      5668731     11067456
10               Georgia      2473633      2461854      4999960
11                Hawaii       366130       196864       574469
12                 Idaho       287021       554119       867934
13              Illinois      3471915      2446891      6033744
14               Indiana      1242498      1729857      3033210
15                  Iowa       759061       897672      1690871
16                Kansas       570323       771406      1373986
17              Kentucky       772474      1326646      2136768
18             Louisiana       856034      1255776      2148062
19                 Maine       435072       360737       819461
20              Maryland      1985023       976414      3037030
21         Massachusetts      2382202      1167202      3631402
22              Michigan      2804040      2649852      5539302
23             Minnesota      1717077      1484065      3277171
24           Mississippi       539398       756764      1313759
25              Missouri      1253014      1718736      3025962
26               Montana       244786       343602       603674
27              Nebraska       374583       556846       956383
28                Nevada       703486       669890      1405376
29         New Hampshire       424937       365660       806205
30            New Jersey      2608400      1883313      4549457
31            New Mexico       501614       401894       923965
32              New York      5244886      3251997      8616861
33        North Carolina      2684292      2758775      5524804
34          North Dakota       115042       235751       362024
35                  Ohio      2679165      3154834      5922202
36              Oklahoma       503890      1020280      1560699
37                Oregon      1340383       958448      2374321
38          Pennsylvania      3458229      3377674      6936976
39          Rhode Island       307486       199922       517757
40        South Carolina      1091541      1385103      2513329
41          South Dakota       150471       261043       422609
42             Tennessee      1143711      1852475      3053851
43                 Texas      5259126      5890347     11315056
44                  Utah       560282       865140      1488289
45               Vermont       242820       112704       367428
46              Virginia      2413568      1962430      4460524
47            Washington      2369612      1584651      4087631
48         West Virginia       235984       545382       794731
49             Wisconsin      1630866      1610184      3298041
50               Wyoming        73491       193559       276765

## Hypothesis Testing

*Likely just going to focus on either the 2020 presidential election because the FEC data for Trump's 2024 campaign is unclean, scattered, and not even on the main page as it was in previous elections.*

Electoral college and popular vote numbers by state: https://www.fec.gov/resources/cms-content/documents/2024presgeresults.pdf

**ideas**
- how does median age correlate with funding/spending
- how does population density correlate spending / voter turnout
- how does median income correlate with chosen candidate

### Median Age and Spending
*How does median age correlate with campaign spending?* \
*Do campaigns spend more on states/areas with a lower median age?*

### Population Density and Voter Turnout
*How does population density correlate with voter turnout?* \
*Do denser areas have more engaged voters?*

In [7]:
# the graph could be a dot plot where the x-axis is population density and the y-axis is voter turnout as a percentage of voting population
# (or maybe just percentage of overall population to make things easier)
# with an autogenerated line of best fit
# and then have the size of each dot scale with population size

### Median Income and Funding/Spending
*Do wealthier states contribute disproportionately more to campaigns?*
*Do poorer states receive more campaign spending?*

In [8]:
# if we choose to compare all three, it could be x-axis income, y-axis spending, and dot color candidate

### Campaign Spending and Chosen Candidate
*Does increased spending always lead to more votes?*